<br>
<div class="flex justify-between items-center mb-2">
  <div class="text-lg font-bold ">
    Items
  </div>

  <div>
    <button
      class=" hover:bg-transparent text-sm shadow-sm bg-black  text-white hover:text-black border font-normal py-0.5 px-2 rounded flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#ffff"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
        <circle cx="12" cy="12" r="10" />
        <path d="M8 12h8" />
        <path d="M12 8v8" />
      </svg> &nbsp; <span> New</span></button>
  </div>
</div>
<hr class="w-5/5 ">
<br>
<div class="flex ">
  <div class="relative mt-2 rounded-md  mb-3 w-full">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <span class="text-gray-500 sm:text-sm"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" class="lucide lucide-search">
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </svg></span>
    </div>
    <input type="text" name="price" id="price"
      class="block  rounded-md  py-1 pl-8 pr-20 text-gray-900 ring-1 ring-inset ring-gray-200 placeholder:text-gray-400  sm:text-sm sm:leading-6 focus:outline-none sm:w-1/3 md:w-1/3 lg:w-1/6"
      placeholder="search">

  </div>
</div>



<div class="md:flex items-start space-x-6">
  <div class="border rounded-md lg:w-5/5 container md:w-4/5 sm:w-full shadow-sm">
    <table class="w-full">
      <thead>
        <tr class="border-b text-left">
          <th class="py-2 px-3">{{columns.id}}</th>
          <th class="py-2 px-3">{{columns.component}}</th>

          <th class="py-2 px-3">{{columns.items}}</th>
          <th class="py-2 px-3">{{columns.description}}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of data; track $index;) { <tr class="border-b text-sm bg-white">
          <td class="px-3 py-2">{{item.id}}</td>
          <td class="px-3 py-2">{{item.component}}</td>

          <td class="px-3 py-2">{{item.items}}</td>
          <td class="px-3 py-2">{{item.description}}</td>

          <td class="px-3 py-2"><button class="bg-transparent text-sm ">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg></button></td>
          <td class="px-3 py-2 hover:cursor-pointer">

            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-ellipsis-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>


          </td>

        </tr>}
      </tbody>
    </table>

  </div>
  <div class="shadow-sm border rounded-md w-1/5 block">
    <div class="border-b w-full p-1 px-4">Top Items </div>

    <ol class="ml-4 mt-2 text-[15px] space-y-2">
      <li class="list-item">1. inputs</li>
      <li class="list-item">2. cards</li>
      <li class="list-item">3. logins</li>
      <li class="list-item">4. buttons</li>
      <li class="list-item">5. table</li>
    </ol>

  </div>
</div>

<div class="flex justify-start mt-4">
  <ul class="inline-flex items-center -space-x-px text-sm">
    <li class="border px-2 py-1 rounded-l-md">prev</li>
    @for(p of pagesArray; track $index;){
    <li class="border px-3 py-1 ">{{ p + 1 }}</li>}
    <li class="border px-2 py-1 rounded-r-md">next</li>
  </ul>
</div>