<div class="flex justify-between items-center mb-2">
  <div class="text-lg font-bold ">
    Items
  </div>

  <div>
    <button
      class=" hover:bg-transparent text-sm shadow-sm bg-black  text-white hover:text-black border font-normal py-0.5 px-2 rounded flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#ffff"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
        <circle cx="12" cy="12" r="10" />
        <path d="M8 12h8" />
        <path d="M12 8v8" />
      </svg> &nbsp; <span> New</span></button>
  </div>
</div>
<hr class="w-5/5 ">
<br>
<div class="md:flex space-x-6">
  <div class="border rounded-md lg:w-5/5 container md:w-4/5 sm:w-full">
    <table class=" lg:w-full ">
      <thead>
        <tr class="border-b text-sm text-left hover:bg-zinc-50">
          <th class="px-3 py-2">Id</th>
          <th class="px-3 py-2">Component</th>
          <th class="px-3 py-2">Items</th>
          <th class="px-3 py-2">Description</th>
          <th class="px-3 py-2"> </th>
          <th class="px-3 py-2"> </th>
        </tr>
      </thead>

      <tbody>

        <tr class="bg-white border-b text-sm">
          <td scope="row" class="px-3 py-2">1</td>
          <td class="px-3 py-2">buttons</td>
          <td class="px-3 py-2">4</td>
          <td class="px-3 py-2">copy and paste the buttons</td>
          <td class="px-3 py-2"><button class="bg-transparent text-sm ">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg></button></td>
          <td class="px-3 py-2 hover:cursor-pointer">

            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-ellipsis-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>


          </td>
        </tr>
        <tr class="border-b text-sm">
          <td class="px-3 py-2">2</td>
          <td class="px-3 py-2">inputs</td>
          <td class="px-3 py-2">5</td>
          <td class="px-3 py-2">copy and paste the buttons</td>
          <td class="px-3 py-2"><button class="bg-transparent text-sm ">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg></button>
          </td>

          <td class="px-3 py-2 hover:cursor-pointer">

            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-ellipsis-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>


          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="shadow  rounded-md w-1/5 block">
    <div class="border-b w-full p-1 px-4">Top Items</div>

    <ol class="ml-4 mt-2 text-[15px] space-y-2">
      <li class="list-item">1. inputs</li>
      <li class="list-item">2. cards</li>
      <li class="list-item">3. logins</li>
      <li class="list-item">4. buttons</li>
      <li class="list-item">5. table</li>
    </ol>

  </div>
</div>
