<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-between">
  
    <div class="card-no-border">
      
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
      
    </div>
    <div class="card-border">
      
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
      
    </div>
  
    <div class="card-border-sm-shadow">
        
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
      
    </div>
      
    <div class="card-border-sm-shadow-more-rounded">
      
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      <p>Hello world</p>
      
    </div>

      <div class="card-border-sm-shadow">
        
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
        
      </div>

      <div class="card-border-sm-shadow-more-rounded">
        
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
        <p>Hello world</p>
        
      </div>
  
</div>
