<div class="card-no-border">
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>

</div>
<div class="card-border">
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>

</div>
<div class="card-border-sm-shadow">
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>

</div>
<div class="card-border-sm-shadow-more-rounded">
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>
  <p>Hello world</p>

</div>