<div class="top-nav flex justify-between shadow-sm p-2  bg-white w-full">
  <div class="brand text-sm">JudComps</div>
  <div class="right-links">
    <ul class="flex space-x-4 text-sm">
      <li><a href="">Components</a></li>
      <li><a href="">Documentation</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</div>
<div class="flex">
  <div class="sidebar p-2 border-x w-40 h-screen rounded-sm mt-2 shadow-lg ">
    <ul class="space-y-4 mt-4 ml-2">
      <li>
        <a href="/portal/inputs">inputs</a>
      </li>
      <li>
        <a href="/portal/button"> buttons</a>
      </li>
      <li>
        <a href="/portal/card">cards</a>
      </li>
      <li>
        <a href=""> inputs</a>
      </li>
      <li>
        <a href=""> inputs</a>
      </li>
    </ul>
  </div>
  <div class="m-4 w-full">

    <router-outlet></router-outlet>
  </div>
</div>
