<div class="top-nav flex justify-between shadow-sm p-2  bg-white w-full">
  <div class="brand text-sm">JudComps</div>
  <div class="right-links">
    <ul class="flex space-x-4 text-sm">
      <li><a href="">Components</a></li>
      <li><a href="">Documentation</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</div>
<div class="flex">
  <div class="sidebar p-2 border-x border-zinc-100 w-40 h-screen rounded-sm mt-2 shadow-sm ">
    <ul class="space-y-3 mt-4  text-md">
      <li [class.selected]="inputs" class="sidebar-items">
        <a href="/portal/inputs?comp=input">inputs</a>
      </li>
      <li [class.selected]="button" class="sidebar-items">
        <a href="/portal/button?comp=button"> buttons</a>
      </li>
      <li [class.selected]="card" class="sidebar-items">
        <a href="/portal/card?comp=card">cards</a>
      </li>
      <li [class.selected]="regform" class="sidebar-items">
        <a href="/portal/reg?comp=regforms"> reg forms</a>
      </li>
      <li [class.selected]="table" class="sidebar-items">
        <a href="/portal/table?comp=table"> table</a>
      </li>
    </ul>
  </div>
  <div class="m-4 w-full">

    <router-outlet></router-outlet>
  </div>
</div>
