<div class="top-nav flex justify-between shadow-sm p-2  bg-white w-full">
  <div class="brand text-sm">JudComps</div>
  <div class="right-links">
    <ul class="flex space-x-4 text-sm">
      <li><a href="">Components</a></li>
      <li><a href="">Documentation</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</div>

<div class="sidebar p-2 border-x w-40 h-screen rounded-sm mt-2 shadow-lg ">
  <ul class="space-y-4 mt-12">
    <li>
      <a>inputs</a>
    </li>
    <li>
      <a> buttons</a>
    </li>
    <li>
      <a>cards</a>
    </li>
    <li>
      <a> inputs</a>
    </li>
    <li>
      <a> inputs</a>
    </li>
  </ul>
</div>
