<div class="relative border w-64  bg-red-200 p-10">
  Content

  <br>
  <br>
  <br>
  <div class="bg-slate-400 p-5 absolute top-0 right-0"> <!-- Positions element on all sides -->
    judah
  </div>
  <div class="  bg-red-400 p-5 absolute top-0 left-0"> <!-- Positions element on all sides -->
    ebe
  </div>
  <div class=" bg-blue-400 p-5 absolute left-0 bottom-0"> <!-- Positions element on all sides -->
    ruth
  </div>
  <div class="  bg-green-400 p-5 absolute right-0 bottom-0"> <!-- Positions element on all sides -->
    ropa
  </div>
</div>




<ul class="bg-red-400 w-64 mt-3 space-y-3 h-96 relative">
  <li>one</li>
  <li>two</li>
  <li>three</li>
  <li>four</li>
  <li>five</li>
  <li>six</li>
  <span class=" bottom-0 fixed">download</span>
</ul>
