<div class="mt-8 bg-white shadow-md pb-8  container mx-auto">
  <div class="text-center">
    <span class="text-md">Youtube MP3 Music Download</span>
  </div>
  <div class=" mt-2   flex items-center sm:mx-[5%] md:mx-[10%] lg:mx-[20%]">
    <div class=" z-10 mr-[-30px]">
      <span class="text-gray-500 sm:text-sm ">


        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-link-2">
          <path d="M9 17H7A5 5 0 0 1 7 7h2" />
          <path d="M15 7h2a5 5 0 1 1 0 10h-2" />
          <line x1="8" x2="16" y1="12" y2="12" />
        </svg>
      </span>
    </div>
    <input type="text" name="price" id="price"
      class=" w-full  rounded-md  py-1.5 pl-10 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6 focus:outline-none"
      placeholder="paste the song link">

  </div>
</div>