<table class="table-auto">
  <thead>
    <tr class="border-b">
      <th scope="col">Id</th>
      <th scope="col">Component</th>
      <th scope="col">Items</th>
      <th scope="col">Description</th>

    </tr>
  </thead>

  <tbody>

    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">1</td>
      <td>buttons</td>
      <td>4</td>
      <td>copy and paste the buttons</td>
    </tr>
    <tr class="border-b">
      <td>2</td>
      <td>inputs</td>
      <td>5</td>
      <td>copy and paste the buttons</td>
    </tr>
  </tbody>
</table>





<br>
<br>
<br>
<br>
<br>

<button class="btn-sm">
  submit
</button>
<br>
<br>

<button class="btn-md">
  submit
</button>

<br>
<br>

<button class="btn-lg">
  submit
</button>
<br>
<br>
<button class="btn-outline-on-hover">
  submit
</button>
