<div class="space-y-6 mt-8">
  <div class="border mt-4 px-4 py-5 rounded-md shadow-neutral-50 lg:w-[97%] md:w-[99%] sm:w-full mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-moon">
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
        </svg><span>turn on dark mode</span>

      </div>



      <div class="flex items-center justify-between">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer">
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-black">
          </div>
          <div
            class="absolute left-0.5 top-0.5 w-5 h-5 bg-white border border-gray-300 rounded-full transition-transform peer-checked:translate-x-full">
          </div>
        </label>
      </div>



    </div>
  </div>
  <!-- SECOND DIV -->

  <div class="border mt-4 px-4 py-5 rounded-md shadow-neutral-50 lg:w-[97%] md:w-[99%] sm:w-full mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-megaphone">
          <path d="m3 11 18-5v12L3 14v-3z" />
          <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6" />
        </svg><span> internal adds </span>

      </div>



      <div class="flex items-center justify-between">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer">
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-black">
          </div>
          <div
            class="absolute left-0.5 top-0.5 w-5 h-5 bg-white border border-gray-300 rounded-full transition-transform peer-checked:translate-x-full">
          </div>
        </label>
      </div>



    </div>
  </div>
  <!-- THIRD DIV -->

  <div class="border mt-4 px-4 py-5 rounded-md shadow-neutral-50 lg:w-[97%] md:w-[99%] sm:w-full mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-megaphone">
          <path d="m3 11 18-5v12L3 14v-3z" />
          <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6" />
        </svg><span> internal adds </span>

      </div>



      <div class="flex items-center justify-between">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer">
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-black">
          </div>
          <div
            class="absolute left-0.5 top-0.5 w-5 h-5 bg-white border border-gray-300 rounded-full transition-transform peer-checked:translate-x-full">
          </div>
        </label>
      </div>



    </div>
  </div>
  <!-- FOURCH DIV -->

  <div class="border mt-4 px-4 py-5 rounded-md shadow-neutral-50  lg:w-[97%] md:w-[99%] sm:w-full  mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-megaphone">
          <path d="m3 11 18-5v12L3 14v-3z" />
          <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6" />
        </svg><span> internal adds </span>

      </div>



      <div class="flex items-center justify-between">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" class="sr-only peer">
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-black">
          </div>
          <div
            class="absolute left-0.5 top-0.5 w-5 h-5 bg-white border border-gray-300 rounded-full transition-transform peer-checked:translate-x-full">
          </div>
        </label>
      </div>



    </div>
  </div>
</div>

<br>
<div>
  <button
    class="hover:text-slate-800 float-right mr-5 text-white text-sm  hover:bg-white bg-black border border-slate-200 font-medium px-2 py-1.5 inline-flex space-x-1 items-center rounded-md">
    <span>
      Apply
    </span>



    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-save">
      <path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" />
      <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
      <path d="M7 3v4a1 1 0 0 0 1 1h7" />
    </svg>
  </button>
  <button
    class="hover:text-slate-800 float-right mr-2 text-white text-sm  hover:bg-white bg-red-400 border border-slate-200 font-medium px-2 py-1.5 inline-flex space-x-1 items-center rounded-md">
    <span>
      Cancel
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ban">
      <circle cx="12" cy="12" r="10" />
      <path d="m4.9 4.9 14.2 14.2" />
    </svg>
  </button>
</div>
